<div class="loader" *ngIf="isLoading"></div>

<div class="container listContainer" *ngIf="!isLoading">
    <div *ngFor="let event of events" clas="row">
        <div class="card flex-md-row mb-4 h-md-250">
            <div class="form-check eventCheckbox" *ngIf="event.isGoing !== undefined">
                <input  class="form-check-input"
                        type="checkbox"  
                        [(ngModel)]="event.isGoing"
                        (change)="changeEventStatus(event.id, event.isGoing)">
            </div>
            <div class="card-body d-flex flex-column align-items-start">
                <img class="card-img-right flex-auto" [src]="getThumbnailImage(event)" />

                <h3 class="mb-0">
                    <a class="text-primary eventName" (click)="event.isDisplayComments = !event.isDisplayComments">
                        {{event.name}}
                    </a>
                </h3>
                <strong class="d-inline-block mb-2 text-dark">{{event.date | date}}</strong>
                <div class="mb-1 text-muted">
                    <span>{{event.location.name}}</span><br />
                    <span>{{event.location.address}}, </span>
                    <span>{{event.location.city}}, </span>
                    <span>{{event.location.state}}</span>
                </div>
                <p class="card-text mb-auto">{{event.description}}.</p>

                <strong class="d-inline-block mb-2 text-dark" *ngIf="event.isDisplayComments" style="margin-top:20px;">COMMENTS</strong>
                <ul class="list-group mb-3 commentsContainer" *ngIf="event.isDisplayComments">
                    <li class="d-flex justify-content-between lh-condensed" *ngFor="let comment of event.comments">
                        <div>
                            <h6 class="my-0">{{comment.from}}</h6>
                            <small>{{comment.text}}</small>
                        </div>
                    </li>                
                </ul>
            </div>
        </div>
    </div>
</div>