.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #007bff; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    margin-top: 100px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.listContainer {
    width: 70%; 
    padding-top: 50px;
}

.card {
    margin-top: 20px;
}

.commentsContainer {
    li {
        padding-bottom: 20px;
    }
}

.eventName, .eventName :hover {
    cursor: pointer;
}

button {
    margin-top: 20px;
}

.thumbnail {
    width: 250px;
    height: auto;
    margin-top: 10px;
}

.flex-item-1 {
    width: 10%;
    order: 1;
    padding: 20px;

    input {
        margin-left: 20px;
        width: 30px; 
        height: 30px;
    }
}

.flex-item-2 {
    flex: 1;
    order: 2;
}

.flex-item-3 {
    width: 25%; 
    order: 3;

    img {
        padding: 20px;
        width: 100%;
        height: auto;
    }
}

.flex-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 750px) {
    .flex-container {
      flex-direction: column;
      flex-wrap: wrap;
    }
    
    .flex-item-3 {
        width: 100%;
    }

    .flex-item-1 input {
        margin-left: 5px;
    }
}
